@font-face {
    font-family: 'Inter';
    src: url(../fonts/inter_cyrillic-regular.woff2) format('woff2'),
        url(../fonts/inter_cyrillic-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/inter_cyrillic-700.woff2) format('woff2'),
        url(../fonts/inter_cyrillic-700.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #18171A;
    margin: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

input, button, textarea {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img, svg {
    display: block;
    max-height: 100%;
    height: auto;
}

.container {
    max-width: 1324px;
    margin: 0 auto;
    padding: 0 72px;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__container {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
    gap: 15px;
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navigation__item {
    transition: color .3s ease;  
}

.navigation__item:hover .navigation__link {
    color: #CDF478;
}

.navigation__link {
    transition: color .3s ease;  
}

.header__link-phone {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 3px; 
    color: #B8FF20; 
    transition: color .3s ease;  
}

.header__phone-number {
    color: #fff;
    transition: color .3s ease;  
}

.header__link-phone:hover,
.header__link-phone:hover .header__phone-number {
    color: #CDF478;
}

.hero {
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    margin-bottom: 60px;
    padding-top: 220px;
    padding-bottom: 120px;
}

.hero__title {
    font-weight: 700;
    font-size: 130px;
    line-height: 1;
    margin-bottom: 10px;
}

.hero__title-letter {
    color: #B8FF20;
}

.hero__subtitle {
    font-size: 26px;
    margin-bottom: 60px;
}

.hero__btn {
    background-color: #fff;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    padding: 24px 90px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    transition: background-color .3s ease, border-color .2s ease;
}

.hero__btn:hover {
    background-color: #CDF478;
}
.hero__btn:focus {
    border-color: #B8FF20;
}
.hero__btn:active {
    background-color: #B8FF20;
}

.product {
    padding: 60px 0;
}

.product:nth-child(odd) .product__container {
    flex-direction: row-reverse;
}

.product__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product__content {
    max-width: 582px;
}

.product__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}

.product__description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.product__btn {
    background-color: #B8FF20;
    border: 2px solid transparent;
    border-radius: 8px;
    font-weight: 700;
    font-size: 26px;
    padding: 24px 132px;
    transition: background-color .3s ease, border-color .2s ease;
}

.product__btn:hover {
    background-color: #CDF478;
}
.product__btn:active {
    background-color: #18171A;
    color: #fff;
}
.product__btn:focus {
    border-color: #18171A;
}

.contacts_section {
    padding-top: 60px;
}

.contacts__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 50px;
}

.contacts__wrap {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.contacts__container {
    display: flex;
    align-items: center;
    padding-left: max(72px, calc((100% - 1180px) / 2));
    padding-right: 0;
    max-width: none;
}

.contacts__column {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-right: 20px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 3px;
    transition: color .3s ease;
}

.contacts__link svg {
    color:  #B8FF20;
    transition: color .3s ease;
}

.contacts__link:hover,
.contacts__link:hover svg {
    color: #cdf478;
}

.social {
    display: flex;
    gap: 30px;
}

.social__link {
    color: #B8FF20;
    transition: color .3s ease;
}

.social__link:hover {
    color: #cdf478;
}

.contacts__map-wrapper {
    flex-shrink: 1;
    width: calc(100% - 380px);
    height: 386px;
}

.contacts__map {
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.footer {
    background-color: #18171A;
    padding-top: 60px;
    padding-bottom: 30px;
    color: #fff;
}

.footer__logo {
    width: 160px;
    margin-bottom: 40px;
}

.footer__columns {
    display: flex;
    gap: 120px;
    margin-bottom: 18px;
}

.footer__column {
    max-width: 280px;
}

.footer__link {
    transition: color .3s ease;
}

.footer__link:hover {
    color: #cdf478;
}

.footer__title {
    font-weight: 700;
    margin-bottom: 10px;
}

.footer__item {
    margin-bottom: 10px;
}

.contacts__list_footer {
    gap: 10px;
    margin-bottom: 20px;
}

.footer__copyright {
    font-size: 12px;
    line-height: 130%;
}

@media (max-width: 1200px) {
    .navigation__list {
        gap: 20px;
    }

    .hero {
        margin-bottom: 40px;
        padding: 160px 0 70px;
    }

    .product {
        padding: 40px 0;
    }
    .product__photo {
        width: 380px;
    }
    .product__title {
        font-size: 54px;
    }
    .product__description {
        margin-bottom: 20px;
    }

    .contacts_section {
        padding-top: 40px;
    }
    .contacts__title {
        font-size: 50px;
    }

    .footer__columns {
        gap: 80px;
    }
}

@media (max-width: 1020px) {
    .container {
        padding: 0 29px;
    }
    .contacts__container {
        padding-left: max(29px, calc((100% - 1180px) / 2));
        padding-right: 0;
    }
}

@media (max-width: 940px) {
    body {
        font-size: 14px;
    }
    .header__logo {
        width: 110px;
    }
    .navigation__list {
        gap: 15px;
    }

    .hero {
        margin-bottom: 25px;
        padding: 150px 0 80px;
    }

    .product {
        padding: 25px 0;
    }

    .contacts_section {
        padding-top: 25px;
    }

    .hero__title {
        font-size: 80px;
        margin-bottom: 4px;
    }
    .hero__subtitle {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .hero__btn {
        font-size: 18px;
        padding: 14px 60px;
    }

    .product__container {
        gap: 10px;
    }

    .product__title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .product__photo {
        width: 260px;
    }

    .product__description {
        margin-bottom: 20px;
    }

    .product__btn {
        font-size: 18px;
        padding: 14px 90px;
    }

    .contacts__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contacts__column {
        width: 260px;
        gap: 15px;
    }

    .contacts__map-wrapper {
        width: calc(100% - 260px);
    }

    .contacts__list {
        gap: 10px;
    }

    .contacts__social {
        gap: 20px;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .footer__columns {
        gap: 50px;
        margin-bottom: 43px;
    }

    .footer__column {
        max-width: 200px;
    }

    .footer .social__link {
        display: block;
        width: 36px;
        height: 36px;
    }
}

@media (max-width: 760px) {
    .header__container {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .header__navigation {
        order: 1;
        grid-column: 1 / 3;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 0 15px;
    }

    .header__phone-number {
        font-size: 12px;
    }

    .navigation__list {
        font-size: 12px;
    }

    .hero {
        background-image: url(../images/hero-bg-m.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 260px;
        padding-bottom: 30px;
    }

    .hero__title {
        font-size: 50px;
    }
    .hero__subtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .hero__btn {
        padding: 14px 74px;
    }

    .product__container,
    .product:nth-child(odd) .product__container {
        flex-direction: column;
        align-items: center;
    }

    .product__description {
        -webkit-line-clamp: 3;
    }

    .product__btn {
        width: 100%;
        text-align: center;
    }

    .contacts__title {
        margin-bottom: 15px;
    }

    .contacts__container {
        flex-direction: column;
        padding: 0;
    }

    .contacts__column {
        width: 100%;
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-left: 15px;
    }

    .contacts__map-wrapper {
        width: 100%;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .footer__logo {
        margin-bottom: 30px;
    }

    .footer__columns {
        flex-wrap: wrap;
        gap: 30px;
    }
}

